extends layout

block content
    section.container.d-flex.flex-column
        .row.align-items-center.justify-content-center.no-gutters.min-vh-100
            .col-8.col-md-6.col-lg-7.offset-md-1.order-md-2.mt-auto.mt-md-0.pt-8.pb-4.py-md-11
                img.img-fluid(src="/images/error.svg")
            .col-12.col-md-5.col-lg-4.order-md-1.mb-auto.mb-md-0.pb-8.py-md-11
                h1.display-3.font-weight-bold.text-center= code
                p.mb-6.text-center.text-muted= message
                .text-center
                    a.btn.btn-primary(href="/") Return Home
