extends layout

block content
    section.pt-4.pt-md-11
        .container
            .row.align-items-center
                .col-12.col-md-5.col-lg-6.order-md-2
                    img.img-fluid.mw-md-150.mw-lg-130.mb-6.mb-md-0(src="/images/home.svg")
                .col-12.col-md-7.col-lg-6.order-md-1
                    h1.display-3.text-center.text-md-left Setup your&nbsp;
                        span.text-primary Discord Server
                        |  in a snap.
                    p.lead.text-center.text-md-left.text-muted.mb-6.mb-lg-8 Use templates to setup your new server, track MMR, and moderate easily.
                    div.text-center.text-md-left
                        a.btn.btn-sm.btn-primary-soft.lift.mr-2(href="/docs/", role="button") Read Docs
                        a.btn.btn-sm.btn-primary.lift(href="https://discordapp.com/oauth2/authorize?client_id=" + CLIENT_ID + "&scope=bot&permissions=8", role="button") Add to Server
                            i.fe.fe-arrow-right.d-none.d-md-inline.ml-3

    section.py-8.py-md-11
        .container
            .row
                .col-12.col-md-4
                    .icon.text-primary.mb-3
                        img(src="/images/icons/duotone-icons/General/Duplicate.svg")
                    h3 Setup with Templates
                    p.text-muted.mb-6.mb-md-0 Use templates created by the community to easily setup your sever using out bot.
                .col-12.col-md-4
                    .icon.text-primary.mb-3
                        img(src="/images/icons/duotone-icons/Shopping/Sort%233.svg")
                    h3 Track MMR
                    p.text-muted.mb-6.mb-md-0 Link your game account once and let others see your MMR in any server Aurus is in.
                .col-12.col-md-4
                    .icon.text-primary.mb-3
                        img(src="/images/icons/duotone-icons/Code/Thunder-circle.svg")
                    h3 Simple Moderation
                    p.text-muted.mb-6.mb-md-0 Use our commands for basic moderation like clearing messages, kicking or banning members.

    section.py-12.pt-md-13.bg-gray-200
        .container
            .row.align-items-center
                .col-12.col-md-5.col-lg-6.order-md-2
                    img.img-fluid.mb-6.mb-md-0(src="/images/reliable.svg")
                .col-12.col-md-7.col-lg-6.order-md-1
                    h2 Have fun with your friends,&nbsp;
                        span.text-primary while we keep things running.
                    p.font-size-lg.text-gray-700.mb-6 Our servers are reliable and our project is setup for sharding, meaning we can scale to handle more servers as aurus grows.
                    .d-flex
                        .pr-5
                            h3.mb-0 100%
                            p.text-gray-700.mb-0 Uptime
                        .border-left.border-gray-300
                        .px-5
                            h3.mb-0 1000
                            p.text-gray-700.mb-0 Msgs Received
                        .border-left.border-gray-300
                        .px-5
                            h3.mb-0 3
                            p.text-gray-700.mb-0 Cmds Invoked

    .position-relative.mt-n1
        .shape.shape-bottom.shape-fluid-x.svg-shim.text-dark
            svg(viewBox="0 0 2880 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z", fill="currentColor")

    section.py-8.py-md-11.bg-dark
        .container
            .row.justify-content-center
                .col-12.col-md-10.col-lg-8.text-center
                    .badge.badge-pill.badge-gray-700-soft.mb-4
                        span.h6.font-weight-bold.text-uppercase Get Started
                    h1.display-4.text-white Add Aurus and take it easy.
                    p.font-size-lg.text-muted.mb-6.mb-md-8 Setup your server quick using our bot, track MMR so you can play with friends in your skill level and keep troublemakers in check using our simple moderation commands.
                    a.btn.btn-sm.btn-success.lift(href="https://discordapp.com/oauth2/authorize?client_id=" + CLIENT_ID + "&scope=bot&permissions=8", role="button") Add to Server
                        i.fe.fe-arrow-right.d-none.d-md-inline.ml-3

    .position-relative
        .shape.shape-bottom.shape-fluid-x.svg-shim.text-gray-200
            svg(viewBox="0 0 2880 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z", fill="currentColor")
