// Layout of all the pages on this website
// Blocks:
//    `styles`    for stylesheets
//    `content`   for body of the page
//    `scripts`   for javascript files

doctype html
html
    head
        title= title + " // Aurus"
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        block styles

        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/bootstrap.min.js")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-white.sticky-top
            .container
                a.navbar-brand(href="/") Aurus
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div#navbarToggler.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item(class=(active === "docs" ? "active" : undefined))
                            a.nav-link(href="/docs/") Docs
                        li.nav-item
                            a.nav-link(href="https://github.com/goknsh/aurus", target="_blank") GitHub
                    a.navbar-btn.btn.btn-primary.ml-auto(href="https://discordapp.com/oauth2/authorize?client_id=" + CLIENT_ID + "&scope=bot&permissions=8", role="button") Add to Server

        block content

        block scripts
