extends ./../layout

block docsContent
    h1.mb-1 clear
    p.text-gray-700 Command to clear messages from a server.

    h3.font-weight-bold#usage Usage
    p.text-gray-700
        | !clear &lt;number&gt;
        br
        | !clear all

    h3.font-weight-bold#limitations Limitations
    ul.list-item.text-gray-700
        li You must provide a number under 100 or use all
        li You may only use this command once in 3 seconds
        li You may only use this command in servers
        li You must have the permission MANAGE_MESSAGES or above
        li The bot must have the permission MANAGE_MESSAGES or above


block jumpTo
    li.list-item
        a.list-link(href="#usage") Usage
    li.list-item
        a.list-link(href="#limitations") Limitations

