extends ./../layout

block docsContent
    h1.mb-1 template
    p.text-gray-700 Command to create, update or use a template.

    h3.font-weight-bold#usage Usage
    p.text-gray-700
        | !template create
        br
        | Creates a template from the server in which the command was invoked
        br
        | !template use &lt;template id&gt;
        br
        | Makes a clone of the template ID in the server in which the command was invoked
        br
        | !template update
        br
        | Updates the existing template with new changes from the server in which the command was invoked

    h3.font-weight-bold#limitations Limitations
    ul.list-item.text-gray-700
        li Will not clone webhooks
        li Will not auto-add bots
        li Will not auto-subscribe to announcements channel
        li Templates are not searchable since they contain information about permissions and restricted channels
        li You may only use this command once in 1200 seconds
        li You may only use this command in servers
        li You must have the permission ADMINISTRATOR or above
        li The bot must have the permission ADMINISTRATOR

block jumpTo
    li.list-item
        a.list-link(href="#usage") Usage
    li.list-item
        a.list-link(href="#limitations") Limitations
