extends layout

block docsContent
    h1.mb-6 Changelog
    p(id="v1.0.0").text-gray-700
        span.badge.badge-pill.badge-primary-soft v1.0.0
        span &nbsp;&mdash; November 11th, 2019
    ul.text-gray-700
        li Initial release. More planned for the future.
block jumpTo
    li.list-item
        a.list-link(href="#v1.0.0") v1.0.0

