extends layout

block docsContent
    h1 Introduction
    p Welcome to the documentation of Aurus.

    h3 Commands
    p Aurus ships with several easy-to-use commands, checkout their documentation for information on how they work

    h3 Bring Your Own Bot
    p Interested in spinning up your own instance of Aurus? Checkout the simple instructions in Bring Your Own Bot

    h3 Contributing
    p Head on over to GitHub and take a look at the README if you would like to contribute
