extends ../layout

block content
    section
        .container-fluid
            .row
                .col-12.col-lg-3.col-xl-2.px-lg-0.border-bottom.border-bottom-lg-0.border-right-lg.border-gray-300.sidenav.sidenav-left
                    #sidenavCollapse.collapse.d-lg-block
                        .py-7.py-lg-9.px-lg-7
                            h6.text-uppercase.font-weight-bold Getting Started
                            ul.list.mb-6
                                li.list-item
                                    a.list-link(href="/docs/") Introduction
                                li.list-item.d-flex
                                    a.list-link(href="/docs/changelog") Changelog
                                    span.badge.badge-pill.badge-primary-soft.ml-auto.align-self-center 1.0.0
                            h6.text-uppercase.font-weight-bold Commands
                            ul.list.mb-6
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/") Introduction
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/ban") ban
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/clear") clear
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/help") help
                                li.list-item
                                    a.list-link(href="/docs/commands/kick") kick
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/ping") ping
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/template") template
                                li.list-item.d-flex
                                    a.list-link(href="/docs/commands/track") track
                            h6.text-uppercase.font-weight-bold Bring your own bot
                            ul.list.mb-6
                                li.list-item.d-flex
                                    a.list-link(href="/docs/byob/") Instructions
                .col-12.col-lg-6.col-xl-8.offset-lg-3.offset-xl-2.py-7.py-lg-9.px-lg-7
                    block docsContent
                .col-12.col-lg-3.col-xl-2.d-none.d-lg-block.px-lg-0.sidenav.sidenav-right
                    .my-7.my-lg-9.px-lg-7.border-left-lg.border-gray-300
                        h6.text-uppercase.font-weight-bold Jump to
                        ul.list.mb-0
                            block jumpTo
